{% extends 'Base.html' %}
{% block head %}
    <script type="text/javascript">
        function submitAndRedirect() {
            document.parseAndDownload.submit();
            setTimeout(function () {
                document.location = "/";
            }, 500)
        }
    </script>
    <title>
        Form
    </title>
{% endblock %}
{% block body %}
    <form action="." name="parseAndDownload" method="post"
          enctype="multipart/form-data">
        <input type="file" name="file_upload" id="file_upload" multiple> <br>
        <a href="javascript:submitAndRedirect()">
            <button class="btn btn-submit">Parse and Download
            </button>
        </a>
    </form>
{% endblock %}
