{% extends 'resume_database_creator/Form.html' %}
{% block head %}
    <title>Resume Database Creator</title>
{% endblock %}
{% block history %}

    <div class="row row-content mt-5">
        <div class="col-12 col-md-9">
            <h3>Saved History</h3>
        </div>
        <div class="col-12 col-md-9">
            <p>There {% if size > 1 %} are {% else %} is {% endif %}
                already {{ size }} {% if size > 1 %} entries {% else %}
                entry {% endif %} in the database. You can
                clear this historical data or download it.</p>
        </div>
        <div class="col-12 col-md-9">
            <form action="{{ url_for('clear') }}" method="post">
                <div class="form-group row">
                    <div class="col-12 col-md-5">
                        <button type="submit" class="btn btn-submit btn-danger">
                            Clear
                            History
                        </button>
                        <button type="submit" class="btn btn-submit btn-primary"
                                formaction="{{ url_for('download_history') }}">
                            Download
                            History
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
