{% extends 'Base.html' %}
{% block head %}
    <title>
        Resume Database Creator
    </title>
{% endblock %}
{% block body %}
    <div class="row row-content">
        <div class="col-12">
            <h3>Process New Resumes</h3>
        </div>
        <div class="col-12 col-md-9">
            <p>Upload multiple resumes in pdf and doc formats and click
                Parse and Download to generate csv containing Name, Email,
                Phone and Locations by File Name.</p>
        </div>
        <div class="col-12 col-md-9">
            <form action="." name="parseAndDownload" method="post"
                  enctype="multipart/form-data">
                <div class="form-group row">
                    <div class="col-12 col-md-9">
                        <div class="custom-file">
                            <input type="file" name="file_upload"
                                   id="file_upload"
                                   multiple class="custom-file-input">
                            <label class="custom-file-label" for="file_upload">Choose
                                Files...</label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-12 col-md-5">
                        <a href="javascript:submitAndRedirect()"
                           class="btn btn-submit btn-info">
                            Parse and Download
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% block history %}
    {% endblock %}
{% endblock %}
