<html>
<head>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    {% block head %}

    {% endblock %}
</head>
<body>

<nav class="navbar navbar-dark navbar-expand-sm fixed-top bg-primary">
    <div class="container">
        <a class="navbar-brand" href=".">Resume Database Creator</a>
    </div>
</nav>

<header class="jumbotron" style="margin-top: 50px">
    <div class="container">
        <div class="row row-header">
            <div class="col-12 col-sm-6">
                <h1>Resume Database Creator</h1>
                <p>Simplifying CV handling for recruiters.</p>
            </div>
        </div>
    </div>
</header>

<div class="container">
    {% block body %}

    {% endblock %}
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript">
    var toLoad = false;

    function submit() {
        document.parseAndDownload.submit();
    }


    $('document').ready(function () {
        $("#file_upload").change(function () {
            var numFiles = this.files.length;
            var fileStr = "file";
            if (numFiles > 1) {
                fileStr += "s";
            }
            $("label[for='file_upload']").text(numFiles + " " + fileStr +
                " selected");
        });
    });
    window.setInterval(function () {
        $.ajax({
            url: /to_reload/
        }).done(function (res) {
            if (res.toLoad) {
                setTimeout(function () {
                    document.location = "/";
                }, 500);
            }
        });
    }, 1000);
</script>
</body>
